a{color:#777;text-decoration:none}
a:hover,a:focus{color:#2a6496;text-decoration:underline}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eee}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:inherit;font-weight:500;line-height:1.1;color:#2d2d2d}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small,h1 .small,h2 .small,h3 .small,h4 .small,h5 .small,h6 .small,.h1 .small,.h2 .small,.h3 .small,.h4 .small,.h5 .small,.h6 .small{font-weight:normal;line-height:1;color:#999}
h1,.h1,h2,.h2,h3,.h3{margin-top:20px;margin-bottom:20px;line-height:34px}
h1 small,.h1 small,h2 small,.h2 small,h3 small,.h3 small,h1 .small,.h1 .small,h2 .small,.h2 .small,h3 .small,.h3 .small{font-size:55%}
h4,.h4,h5,.h5,h6,.h6{margin-top:15px;margin-bottom:15px}
h4 small,.h4 small,h5 small,.h5 small,h6 small,.h6 small,h4 .small,.h4 .small,h5 .small,.h5 .small,h6 .small,.h6 .small{font-size:75%}
h1,.h1{font-size:32px}
h2,.h2{font-size:30px}
h3,.h3{font-size:24px}
h4,.h4{font-size:18px}
h5,.h5{font-size:14px}
h6,.h6{font-size:12px}
p{margin:15px 0}
.lead{margin-bottom:20px;font-size:16px;font-weight:300;line-height:1.4}
@media (min-width:768px){.lead{font-size:21px}
}
small,.small{font-size:85%}
cite{font-style:normal}
mark,.mark{padding:.2em;background-color:#fcf8e3}
ul{list-style:none}
ul,ol{margin-top:0;margin-bottom:10px}
ul ul,ol ul,ul ol,ol ol{margin-bottom:0}
.text-left{text-align:left}
.text-right{text-align:right}
.text-center{text-align:center}
.text-justify{text-align:justify}
.text-nowrap{white-space:nowrap}
.text-lowercase{text-transform:lowercase}
.text-uppercase{text-transform:uppercase}
.text-capitalize{text-transform:capitalize}
.text-muted{color:#777}
.text-blue{color:#2cafe3}
.text-green{color:#6cb91f}
.text-orange{color:#ff8400}
.text-yellow{color:#ffae00}
.text-gray{color:#777}
.text-red{color:#eb484c}
.text-white{color:#fff}
.btn-blue{color:#fff;background-color:#2cafe3;border-color:#168baa}
.btn-blue:hover,.btn-blue:focus,.btn-blue:active,.btn-blue.active,.open>.dropdown-toggle.btn-blue{color:#fff;background-color:#1a98ca;border-color:#005a72}
.btn-blue:active,.btn-blue.active,.open>.dropdown-toggle.btn-blue{background-image:none}
.btn-blue.disabled,.btn-blue[disabled],fieldset[disabled] .btn-blue,.btn-blue.disabled:hover,.btn-blue[disabled]:hover,fieldset[disabled] .btn-blue:hover,.btn-blue.disabled:focus,.btn-blue[disabled]:focus,fieldset[disabled] .btn-blue:focus,.btn-blue.disabled:active,.btn-blue[disabled]:active,fieldset[disabled] .btn-blue:active,.btn-blue.disabled.active,.btn-blue[disabled].active,fieldset[disabled] .btn-blue.active{background-color:#1a98ca;border-color:#005a72}
.btn-blue .badge{color:#1a98ca;background-color:#fff}
.btn-green{color:#fff;background-color:#6cb91f;border-color:#5da614}
.btn-green:hover,.btn-green:focus,.btn-green:active,.btn-green.active,.open>.dropdown-toggle.btn-green{color:#fff;background-color:#4f920b;border-color:#3f7707}
.btn-green:active,.btn-green.active,.open>.dropdown-toggle.btn-green{background-image:none}
.btn-green.disabled,.btn-green[disabled],fieldset[disabled] .btn-green,.btn-green.disabled:hover,.btn-green[disabled]:hover,fieldset[disabled] .btn-green:hover,.btn-green.disabled:focus,.btn-green[disabled]:focus,fieldset[disabled] .btn-green:focus,.btn-green.disabled:active,.btn-green[disabled]:active,fieldset[disabled] .btn-green:active,.btn-green.disabled.active,.btn-green[disabled].active,fieldset[disabled] .btn-green.active{background-color:#4f920b;border-color:#3f7707}
.btn-green .badge{color:#4f920b;background-color:#fff}
.btn-orange{color:#fff;background-color:#f68b1f;border-color:#b58410}
.btn-orange:hover,.btn-orange:focus,.btn-orange:active,.btn-orange.active,.open>.dropdown-toggle.btn-orange{color:#fff;background-color:#e29f1e;border-color:#b58410}
.btn-orange:active,.btn-orange.active,.open>.dropdown-toggle.btn-orange{background-image:none}
.btn-orange.disabled,.btn-orange[disabled],fieldset[disabled] .btn-orange,.btn-orange.disabled:hover,.btn-orange[disabled]:hover,fieldset[disabled] .btn-orange:hover,.btn-orange.disabled:focus,.btn-orange[disabled]:focus,fieldset[disabled] .btn-orange:focus,.btn-orange.disabled:active,.btn-orange[disabled]:active,fieldset[disabled] .btn-orange:active,.btn-orange.disabled.active,.btn-orange[disabled].active,fieldset[disabled] .btn-orange.active{background-color:#e29f1e;border-color:#b58410}
.btn-orange .badge{color:#4f920b;background-color:#fff}
.btn-yellow{color:#fff;background-color:#fdd13c;border-color:#ffae00}
.btn-yellow:hover,.btn-yellow:focus,.btn-yellow:active,.btn-yellow.active,.open>.dropdown-toggle.btn-yellow{color:#fff;background-color:#d1a309;border-color:#ffae00}
.btn-yellow:active,.btn-yellow.active,.open>.dropdown-toggle.btn-yellow{background-image:none}
.btn-yellow.disabled,.btn-yellow[disabled],fieldset[disabled] .btn-yellow,.btn-yellow.disabled:hover,.btn-yellow[disabled]:hover,fieldset[disabled] .btn-yellow:hover,.btn-yellow.disabled:focus,.btn-yellow[disabled]:focus,fieldset[disabled] .btn-yellow:focus,.btn-orange.disabled:active,.btn-orange[disabled]:active,fieldset[disabled] .btn-yellow:active,.btn-yellow.disabled.active,.btn-yellow[disabled].active,fieldset[disabled] .btn-yellow.active{background-color:#d1a309;border-color:#ffae00}
.btn-yellow .badge{color:#d1a309;background-color:#fff}
.btn-red{color:#fff;background-color:#eb484c;border-color:#ba0812}
.btn-red:hover,.btn-red:focus,.btn-red:active,.btn-red.active,.open>.dropdown-toggle.btn-red{color:#fff;background-color:#af141b;border-color:#78060c}
.btn-red:active,.btn-red.active,.open>.dropdown-toggle.btn-red{background-image:none}
.btn-red.disabled,.btn-red[disabled],fieldset[disabled] .btn-red,.btn-red.disabled:hover,.btn-red[disabled]:hover,fieldset[disabled] .btn-red:hover,.btn-red.disabled:focus,.btn-red[disabled]:focus,fieldset[disabled] .btn-red:focus,.btn-red.disabled:active,.btn-red[disabled]:active,fieldset[disabled] .btn-red:active,.btn-red.disabled.active,.btn-red[disabled].active,fieldset[disabled] .btn-red.active{background-color:#af141b;border-color:#78060c}
.btn-red .badge{color:#af141b;background-color:#fff}
.btn-purple{color:#fff;background-color:#8a5bb7;border-color:#6310b3}
.btn-purple:hover,.btn-purple:focus,.btn-purple:active,.btn-purple.active,.open>.dropdown-toggle.btn-purple{color:#fff;background-color:#5c3087;border-color:#30015d}
.btn-purple:active,.btn-purple.active,.open>.dropdown-toggle.btn-purple{background-image:none}
.btn-purple.disabled,.btn-purple[disabled],fieldset[disabled] .btn-purple,.btn-purple.disabled:hover,.btn-purple[disabled]:hover,fieldset[disabled] .btn-purple:hover,.btn-purple.disabled:focus,.btn-purple[disabled]:focus,fieldset[disabled] .btn-purple:focus,.btn-purple.disabled:active,.btn-purple[disabled]:active,fieldset[disabled] .btn-purple:active,.btn-purple.disabled.active,.btn-purple[disabled].active,fieldset[disabled] .btn-purple.active{background-color:#5c3087;border-color:#30015d}
.btn-purple .badge{color:#5c3087;background-color:#fff}
.btn-lg,.btn-group-lg>.btn{padding:5px 30px;font-size:24px;line-height:1.33;border-radius:6px}
.btn-sm,.btn-group-sm>.btn{padding:5px 10px;font-size:12px;line-height:1.5;border-radius:6px}
.btn-xs,.btn-group-xs>.btn{padding:1px 5px;font-size:12px;line-height:1.5;border-radius:6px}
header{background:none repeat scroll 0 0 #ffffff;box-shadow:0 0 10px rgba(0,0,0,0.1);width:100%;padding-top:10px;padding-bottom:10px}
header ul li{margin-left:10px;margin-right:10px}
header .navbar-default .navbar-nav>li>a{color:#fff}
header .navbar-brand{padding:0;margin:0}
header .navbar-nav>li>a.btn{padding:10px 20px;margin:5px;color:#fff}
.navbar{margin-bottom:0}
.subtitle{margin:8px 0;font-size:18px;color:#9d9d9d;font-weight:500}
section{padding:30px 0}
section p{line-height:32px}
.white{background:#fff}
.gray{background:#eee}
.panel-green{background:#79bb37;color:#fff}
.panel-green h1,.panel-green h4{color:#fff}
.panel-green small{color:#fff}
.heading{padding:30px 0;margin-bottom:10px}
.bg-orange{background:#f68c1f;color:#fff}
.bg-orange h1{color:#fff}
.bg-blue{background:#4fc1e9;color:#fff}
.bg-blue h1{color:#fff}
.bg-green{background:#79bb37;color:#fff}
.bg-green h1{color:#fff}
.bg-deepgray{background:#3b3b3b;color:#fff}
.bg-deepgray h3,.bg-deepgray h1{color:#fff}
.bg-deepgray a{color:#fff;text-decoration:underline}
.bg-purple{background:#8a5bb7;color:#fff}
.bg-purple h3,.bg-purple h4{color:#eddbff}
.bg-purple a{color:#eddbff;text-decoration:underline}
h1.page-header{border-bottom:1px solid #e5e5e5;padding:20px 0}

footer {
    background-color: #f1f1f1;
    border-top: 1px solid #dedede;
    padding: 20px 0;
    color: #777;
    /* position: absolute; */
    width: 100%;
    min-width: 1000px;
    margin-top: 250px;
    
    /* bottom: 0; */
}
footer a{color:#777}
footer a:hover{color:#777;text-decoration:underline}
footer strong{color:#555;font-size:16px}
footer .site-map{padding:20px 0;margin:0}
footer address{padding:20px 40px;border-left:1px solid #dedede;border-right:1px solid #dedede}
footer address p{margin:20px 0;line-height:28px}
footer .weixin{text-align:center;padding:20px}
footer ul.child{clear:both;margin:0;padding:0}
footer ul.child li{display:block;margin-bottom:20px;margin-right:20px;float:left}
footer .copyright{color:#999;font-size:90%;text-align:center;padding-top:20px;padding-bottom:10px}
footer .copyright a{color:#999;margin:0 5px}
